/***

    For development convinience, this stylesheet uses SCSS. http://sass-lang.com/
    
    Directions:
    1) Install Sass
    2) Run: `sass --watch cssbutton.scss:cssbutton.css --style expanded`
    3) All edits/saves to cssbutton.scss will now generate cssbutton.css
    
    Files:
    1) cssbutton.scss - The development stylesheet. Do -not- import this into your HTML document.
    2) cssbutton.css  - The Sass generated output. Do import this file into your HTML document.

***/

// start SCSS Mixins

    @mixin background-gradient($start, $end){
        background-image: -webkit-gradient(linear, left top, left bottom, from($start), to($end)); //Saf4+, Chrome
        background-image: -webkit-linear-gradient(top, $start, $end); //Chrome 10+, Saf5.1+
        background-image:    -moz-linear-gradient(top, $start, $end); //FF3.6
        background-image:     -ms-linear-gradient(top, $start, $end); //IE10
        background-image:      -o-linear-gradient(top, $start, $end); //Opera 11.10+
        background-image:         linear-gradient(top, $start, $end);
                  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#{$start}', EndColorStr='#{$end}'); //IE6–IE9
        background-color: $end;
    }

    @mixin border-radius($radius) {
           -moz-border-radius: $radius; //FF1-3.6
        -webkit-border-radius: $radius; //Saf3-4, iOS 1-3.2, Android <1.6
                border-radius: $radius; //Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+
    }

    @mixin box-shadow($shadow) {
                box-shadow: $shadow; //Opera 10.5, IE9, FF4+, Chrome 10+
           -moz-box-shadow: $shadow; //FF3.5 - 3.6
        -webkit-box-shadow: $shadow; //Saf3.0+, Chrome
    }

    @mixin transition($transition) {
        -webkit-transition: $transition; //Saf3.2+, Chrome
           -moz-transition: $transition; //FF4+
            -ms-transition: $transition; //IE10?
             -o-transition: $transition; //Opera 10.5+
                transition: $transition;
    }

// end SCSS Mixins


/***
    Core Button Styles
***/
.yui3-button {
    /* To prevent the bg color from leaking outside the border */    
    -webkit-background-clip: padding-box;     
       -moz-background-clip: padding;
            background-clip: padding-box;
            
    background-repeat: repeat-x;
    border: solid 1px;
    cursor: pointer;
    display: inline-block;
    
    *display: inline; zoom: 1; /*IE6 inline block */
    
    height: 2em;
    line-height: 2em;
    margin: 1em;
    padding: 0 1em;
    position: relative;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    
    -webkit-user-drag: none;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    
    @include border-radius(0.4em);
    @include transition( #{background-position 0.1s linear, color 0.1s linear} );
}

.yui3-button:hover {
    border-style: solid;
    border-width: 1px;
    background-position: 0 -1em;
    @include transition( #{background-position 0.1s linear, color 0.1s linear} );
}

.yui3-button-icon {
    background-repeat: no-repeat;
    display: inline-block;
    height: 20px;
    vertical-align: middle;
    width: 20px;
}

.yui3-button-disabled {
    cursor: default;
}

.yui3-button-disabled .yui3-button-icon {
    filter: alpha(opacity=30);
    opacity: .3;
}

.yui3-button:active,
.yui3-button-selected {
    @include box-shadow( #{inset 0 3px 7px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.05)} );
}

/***
    Icons
***/
.yui3-button-icon-bold          {background-position: 0 0px;}
.yui3-button-icon-italic        {background-position: 0 -36px;}
.yui3-button-icon-underline     {background-position: 0 -72px;}
.yui3-button-icon-strikethrough {background-position: 0 -108px;}
.yui3-button-icon-superscript   {background-position: 0 -144px;}
.yui3-button-icon-subscript     {background-position: 0 -180px;}
.yui3-button-icon-forecolor     {background-position: 0 -216px;}
.yui3-button-icon-backcolor     {background-position: 0 -252px;}
.yui3-button-icon-TBD           {background-position: 0 -288px;}
.yui3-button-icon-justifyleft   {background-position: 0 -324px;}
.yui3-button-icon-justifycenter {background-position: 0 -360px;}
.yui3-button-icon-justifyright  {background-position: 0 -396px;}
.yui3-button-icon-justifyfull   {background-position: 0 -432px;}
.yui3-button-icon-unorderedlist {background-position: 0 -468px;}
.yui3-button-icon-orderedlist   {background-position: 0 -504px;}
.yui3-button-icon-TBD           {background-position: 0 -540px;}
.yui3-button-icon-TBD           {background-position: 0 -576px;}
.yui3-button-icon-TBD           {background-position: 0 -612px;}
.yui3-button-icon-TBD           {background-position: 0 -648px;}
.yui3-button-icon-unindent      {background-position: 0 -684px;}
.yui3-button-icon-indent        {background-position: 0 -720px;}
.yui3-button-icon-insertimage   {background-position: 1px -756px;}
.yui3-button-icon-createlink    {background-position: 0 -792px;}
.yui3-button-icon-TBD           {background-position: 0 -828px;}
.yui3-button-icon-block         {background-position: 0 -864px;}
.yui3-button-icon-inline        {background-position: 0 -900px;}
.yui3-button-icon-floatright    {background-position: 0 -936px;}
.yui3-button-icon-floatleft     {background-position: 0 -972px;}
.yui3-button-icon-smiley        {background-position: 0 -1008px;}
.yui3-button-icon-hiddenelements {background-position: 0 -1044px;}
.yui3-button-icon-removeformat  {background-position: 0 -1080px;}
.yui3-button-icon-TBD           {background-position: 0 -1116px;}
.yui3-button-icon-TBD           {background-position: 0 -1152px;}
.yui3-button-icon-TBD           {background-position: 0 -1188px;}
.yui3-button-icon-TBD           {background-position: 0 -1224px;}
.yui3-button-icon-TBD           {background-position: 0 -1260px;}
.yui3-button-icon-TBD           {background-position: 0 -1296px;}


/***
    Colors
***/


.yui3-button-color-gray{
    border-color: #808080;
    color: #000;
    @include background-gradient(#fff, #d8d8da);
}

.yui3-button-color-blue {
    color: #fff;
    /*@include background-gradient(#599BDC, #3476B7);*/
    @include background-gradient(#426fd9, #2647a0);
}

.yui3-button-color-lightblue {
    color: #fff;
    color: #000;
    @include background-gradient(#E8F2FF, #BFDAFF);
}

.yui3-button-color-red {
    color: #fff;
    @include background-gradient(#ee443e, #b2332e);
}

.yui3-button-color-green {
    color: #fff;
    @include background-gradient(#62C462, #499349);
}

.yui3-button-color-turquoise {
    color: #fff;
    @include background-gradient(#5BC0DE, #4490a6);
}

.yui3-button-color-yellow {
    color: #fff;
    @include background-gradient(#e3e300, #c9c900);
}

.yui3-button-color-orange {
    color: #fff;
    @include background-gradient(#eebd4c, #d4a844);
}

.yui3-button-color-purple {
    color: #fff;
    @include background-gradient(#a35295, #7a3d6f);
}

.yui3-button-color-black {
    color: #fff;
    @include background-gradient(#545454, #000);
}

/***
    Skin: Sam
***/

.yui3-skin-sam .yui3-button:hover {
    @extend .yui3-button-color-lightblue;
}

.yui3-skin-sam .yui3-button,
.yui3-skin-sam .yui3-button-disabled{
    @extend .yui3-button-color-gray;
}

.yui3-skin-sam .yui3-button.yui3-button-selected,
.yui3-skin-sam .yui3-button.yui3-button-selected:hover {
    @extend .yui3-button-color-blue;
}

.yui3-skin-sam .yui3-button.yui3-button-disabled,
.yui3-skin-sam .yui3-button.yui3-button-disabled:hover{
    border-color: #ccc;
    color: #ccc;
    cursor: default;
    background-position: 0 0;
    @extend .yui3-button-color-gray;
    @include box-shadow(none);
}

.yui3-skin-sam .yui3-button-icon {
    background-image: url("assets/sam_icons.gif");
}

/***
    Skin: Night
***/

.yui3-skin-night .yui3-button {
    background-color: #3E3F41;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#555658), to(#3E3F41)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #555658, #3E3F41); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient(top, #555658, #3E3F41); /* FF3.6 */
    background-image:     -ms-linear-gradient(top, #555658, #3E3F41); /* IE10 */
    background-image:      -o-linear-gradient(top, #555658, #3E3F41); /* Opera 11.10+ */
    background-image:         linear-gradient(top, #555658, #3E3F41);
              filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#555658', EndColorStr='#3E3F41'); /* IE6–IE9 */
       -moz-box-shadow: 0px 1px 1px #222; /* FF3.5 - 3.6 */
    -webkit-box-shadow: 0px 1px 1px #222; /* Saf3.0+, Chrome */
            box-shadow: 0px 1px 1px #222; /* Opera 10.5, IE9, FF4+, Chrome 10+ */
    border-color: #0c0c0c;
    color: #fff;
}

.yui3-skin-night .yui3-button {
  border:outset #666 1px;
}

.yui3-skin-night .yui3-button:active {
  
  border:inset #666 1px;
}

.yui3-skin-night .yui3-button-selected,
.yui3-skin-night .yui3-button-selected:hover {
    background-color: #242526;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#2C2D2F), to(#242526)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #2C2D2F, #242526); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient(top, #2C2D2F, #242526); /* FF3.6 */
    background-image:     -ms-linear-gradient(top, #2C2D2F, #242526); /* IE10 */
    background-image:      -o-linear-gradient(top, #2C2D2F, #242526); /* Opera 11.10+ */
    background-image:         linear-gradient(top, #2C2D2F, #242526);
              filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#2C2D2F', EndColorStr='#242526'); /* IE6–IE9 */
}

.yui3-skin-night .yui3-button-back:before {
    /*TODO: Check the rotation on this */background-image: -webkit-gradient(linear, left top, left bottom, from(#2C2D2F), to(#3E3F41)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(45deg, #2C2D2F, #3E3F41); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient(45deg, #2C2D2F, #3E3F41); /* FF3.6 */
    background-image:     -ms-linear-gradient(45deg, #2C2D2F, #3E3F41); /* IE10 */
    background-image:      -o-linear-gradient(45deg, #2C2D2F, #3E3F41); /* Opera 11.10+ */
    background-image:         linear-gradient(45deg, #2C2D2F, #3E3F41);
              filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#2C2D2F', EndColorStr='#3E3F41'); /* IE6–IE9 */
    border-color: #0c0c0c;
}

.yui3-skin-night .yui3-button-back:hover:before {
    /*TODO: Check the rotation on this */background-image: -webkit-gradient(linear, left top, left bottom, from(#2e2e30), to(#3d3e3f)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(45deg, #2e2e30, #3d3e3f); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient(45deg, #2e2e30, #3d3e3f); /* FF3.6 */
    background-image:     -ms-linear-gradient(45deg, #2e2e30, #3d3e3f); /* IE10 */
    background-image:      -o-linear-gradient(45deg, #2e2e30, #3d3e3f); /* Opera 11.10+ */
    background-image:         linear-gradient(45deg, #2e2e30, #3d3e3f);
              filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#2e2e30', EndColorStr='#3d3e3f'); /* IE6–IE9 */
}
 
.yui3-skin-night .yui3-button-selected.yui3-button-back:before {
    background-color: #2B2D2D;
    /*TODO: Check the rotation on this */background-image: -webkit-gradient(linear, left top, left bottom, from(#242526), to(#2C2D2F)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(45deg, #242526, #2C2D2F); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient(45deg, #242526, #2C2D2F); /* FF3.6 */
    background-image:     -ms-linear-gradient(45deg, #242526, #2C2D2F); /* IE10 */
    background-image:      -o-linear-gradient(45deg, #242526, #2C2D2F); /* Opera 11.10+ */
    background-image:         linear-gradient(45deg, #242526, #2C2D2F);
              filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#242526', EndColorStr='#2C2D2F'); /* IE6–IE9 */
}

.yui3-skin-night .yui3-button-disabled,
.yui3-skin-night .yui3-button-disabled:hover {
    color: #666;
}

.yui3-skin-night .yui3-button-icon {
    background-image: url("assets/night_icons.gif");
}
